@import 'tailwindcss';

@import 'primeicons/primeicons.css';

@media (max-width:600px) {
.p-toast {
  width: 20rem !important;
}
}

body {
  @apply bg-slate-50 text-slate-800 transition-colors duration-300;
}

:root.dark body {
  @apply bg-slate-950 text-slate-50;
}

